@import 'config';

/* 전체 공통 */
//전체사이즈 및 bg
.container {
    @include background-default;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../image/bg-disneyplus1.jpg');
}
//메인텍스트
.main-text {
    line-height: 1.44;
    text-align: center;
    font: {
        family: $font-bold;
        size: 3.4rem;
    }
    em {
        color: $color-primary;
    }
}
//타이틀텍스트 
.title-text {
    line-height: 1.44;
    font-size: 2.4rem;
    em {
        color: $color-primary;
    }
}
//서브텍스트
.sub-text {
    font-size: 2rem;
    em {
        color: $color-primary;
    }
}
//기타예외텍스트
.etc {
    font-size: 1.6rem;
    color: $color-gray-light;
    em {
        color: $color-white;
    }
}
//체크박스
.checkbox {
    @include flex-items-center;

    input[type=checkbox] {
        @include input-checkbox;
    }
    label {
        margin-left: 12px;
        font-size: 20px;
        color: $color-white;
    }
}
//입력창
.input-text {
    @include input-text($width: 445px, $height: 53px);

    .placeholder, .input-text-wrap  {
        position: absolute;
        left: 0; 
        top: 0;
        width: 100%;
        line-height: 53px;
        text-align: center;
        font-size: 1.8rem;
        color: $color-gray;
    }
    .input-text-wrap {
        display: flex;
        justify-content: center;
        font: {
            family: $font-bold;
            size: 2.1rem;
        }
        color: $color-bg-btn;
    }
    &.focus {
        &::after {
            @include focus-border;
        }
    }
}
//툴팁
.tooltip {
    @include tooltip;
}
//버튼
.button-area {
    display: flex;
    justify-content: center;

    button {
        @include button;
    }
}
//메인로고
.hellotv-logo {
    @include ir;
    @include background-default;
    position: absolute;
    right: 54px; 
    top: 50px;
    width: 80px;
    height: 18px;
    background-image: url('../image/logo-hellotv.png');
}
.disneyplus-logo {
    @include ir;
    @include background-default;
    position: absolute;
    left: 62px; 
    top: 27px;
    width: 104px;
    height: 56px;
    background-image: url('../image/logo-disneyplus.png');
}

/* 메인홈 */
.main {
    @include flex-items-center;
    flex-direction: column;
    padding-top: 140px;
    //메인컨텐츠
    .main-text {
        text-align: left;
    }
    .contents {
        @include flex-items-center;
        justify-content: space-between;
        width: 1147px;
        margin-bottom: 67px;
        padding: 0 80px 0 14px;
        .main-text {
            line-height: 1.42;
            font-size: 4.5rem;
        }
        .logo-disney {
            @include background-default;
            display: block;
            width: 284px;
            height: 159px;
            background-image: url('../image/logo-disneyplus.png');
        }
    }
    //가입,로그인버튼
    .button-area {
        //버튼공통
        div {
            position: relative;
            height: 315px;
            text-align: center;
            border: 1px solid rgba($color-white, 0.2);
            background-color: rgba($color-black, 0.6);
            h3 {
                $title-height: 75px;
                height: $title-height;
                line-height: $title-height;
                font: {
                    family: $font-bold;
                    size: 2.4rem;
                }
                border-bottom: 1px solid $color-white-divider;
                background-color: rgba($color-bg-btn, 0.2);
            }
            p {
                @include flex-items-center;
                justify-content: center;
                height: 85px;
                line-height: 1.6;
                margin: 21px 0 34px;
                font-size: 2rem;
                color: rgba($color-white, .7);
            }
            span {
                position: relative;
                z-index: 1;
                display: inline-block;
                height: 60px;
                padding: 0 16px;
                line-height: 60px;
                background-color: $color-bg-btn;
                font: {
                    family: $font-bold;
                    size: 2rem;
                }
            }
            &.focus {
                &::after {
                    @include focus-border;
                }
                h3 {
                    color: $color-primary;
                }
                p {
                    color: $color-primary;
                }
                span {
                    z-index: 1;
                    height: 64px;
                    line-height: 64px;
                    font-size: 2.1rem;
                    color: $color-pure-black;
                    &::after {
                        @include vs;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        background-color: $color-primary;
                    }
                }
            }
        }
        //가입버튼
        .button-join {
            width: 664px;
            margin-right: 54px;
            span {
                min-width: 265px;
            }
        }
        //로그인버튼
        .button-login {
            width: 429px;

            span{
                width: 165px;
            }
        }
    }
}

/* 서비스 가입 */
.join {
    padding-top: 27px;
    //step정보 및 타이틀
    //각 해당 step이 보여지는 함수
    @for $i from 1 through 2 {
        .join-step#{$i} {
            .step-info {
                background-image: url('../image/img-step#{$i}.png');
            }
            .step#{$i} {
                display: block;
            }
        }
        .join-step3-#{$i} {
            .step-info {
                background-image: url('../image/img-step3.png');
            }
            .step3-#{$i} {
                display: block;
            }
        }
    }
    //공통
    .step-info {
        @include background-default;
        width: 600px;
        height: 64px;
        margin: 0 auto;
        span {
            @include ir;
        }
    }
    .step {
        display: none;
    }
    .main-text {
        position: relative;
        margin: 42px 0;
    }
    .contents {
        @include flex-items-center;
        flex-direction: column;
        justify-content: center;
    }
    //step1
    .step1 {
        .terms {
            position: relative;
            width: 840px;
            height: 320px;
            margin: 0 auto 80px;
            padding: 28px 22px 31px;
            line-height: 1;
            font-size: 1.6rem;
            border: 1px solid rgba($color-line, 0.5);
            background-color: rgba($color-black, 0.6);
            .text-area {
                overflow: hidden;
                width: 100%;
                height: 100%;
                text-align: center;
                font-size: 2rem;
            }
            .checkbox {
                justify-content: center;
                margin-bottom: 27px;
                label {
                    font-size: 2.4rem;
                }
            }
            p {
                display: flex;
                flex-wrap: wrap;
                width: 794px;
                height: 106px;
                margin: 27px 0;
                padding: 27px 0;
                border: {
                    top: 1px solid rgba($color-white, 0.4);
                    bottom: 1px solid rgba($color-white, 0.4);
                }
                text-align: left;
                > span {
                    font-size: 1.4rem;
                    &:first-child {
                        margin-bottom: 15px;
                    }
                    &:nth-child(odd) {
                        width: 343px;
                    }
                }
            }
            span {
                line-height: 1.02;
                font-size: 1.7rem;
            }
            &.focus {
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    box-shadow: 0 0 0 4px #ffc000;
                }
                .checkbox input[type=checkbox] {
                    border-color: $color-primary;
                }
            }
        }
    }
    //step2 
    .step2 {
        .sub-text {
            text-align: center;
            margin-bottom: 35px;
        }
        .scroll-contents {
            position: relative;
            width: 840px;
            height: 320px;
            margin: 0 auto 20px;
            padding: 0 20px;
            background-color: rgba($color-black, 0.3);
            .terms {
                overflow: hidden;
                height: 212px;
                padding-right: 26px;
                border-bottom: 1px solid rgba($color-white, 0.4);
                .text-area {
                    padding: 20px 0;
                    line-height: 1.42;
                    text-align: left;
                    font-size: 1.7rem;
                    word-break: keep-all;
                    em {
                        display: block;
                        margin-bottom: 16px;
                        font-family: $font-bold;
                        &:first-child {
                            margin-bottom: 16px;
                        }
                        &:last-child {
                            margin-top: 16px;
                            margin-bottom: 0;
                        }
                    }
                    p {
                        margin-left: 10px;
                        text-indent: -15px;
                        & + p {
                            margin-top: 8px; 
                        }
                    }
                }
            }
            .info {
                @include flex-items-center;
                flex-direction: column;
                justify-content: center;
                height: 108px;
                p {
                    @include flex-items-center;
                    font-size: 1.8rem;
                    em {
                        margin: 0 9px 0 14px;
                        font-size: 3.4rem;
                        color: $color-primary;
                    }
                    span {
                        display: inline-block;
                        font-size: 1.6rem;
                        color: $color-gray-light;
                    }
                }
                span {
                    display: block;
                    margin-top: 8px;
                    font-size: 1.4rem;
                    color: $color-gray-light;
                    white-space: nowrap;
                }
            }
            //스크롤 컨텐츠 그라데이션 공통
            &.top-cover, &.bottom-cover {
                .terms {
                    position: relative;
                    &::before, &::after {
                        @include vs;
                        left: -20px;
                        z-index: 1;
                        width: 840px;
                        height: 49px;
                    }
                }
            }
            //상단 그라데이션
            &.top-cover {
                .terms {
                    &::before {
                        background-image: linear-gradient(to top, rgba(7, 17, 48, 0) 0%, #071130);
                    }
                }
            }
            //하단 그라데이션
            &.bottom-cover {
                .terms {
                    &::after {
                        top: auto;
                        bottom: 0;
                        background-image: linear-gradient(to bottom, rgba(9, 26, 68, 0), #091a44);
                    }
                }
            }
            //스크롤
            .scroll {
                @include scroll;
                top: 12px;
                right: 20px;
            }
        }
    }
    //step3-1 
    .step3-1 {
        .main-text {
            position: relative;
            margin-bottom: 62px;
            padding-bottom: 35px;
            &::after {
                @include vs;
                top: unset;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 54px;
                height: 2px;
                background-color: rgba($color-white, 0.3);
            }
        }
        .title-text {
            text-align: center;
        }
        .sub-text {
            margin-bottom: 131px;
        }
        .input-text {
            margin: 27px auto;
        }
    }
    //step3-2
    .step3-2 {
        .image {
            @include flex-items-center;
            justify-content: center;
            width: 840px;
            height: 280px;
            margin: 0 auto;
            background-color: rgba($color-black, 0.3);
            img {
                @include background-default;
                width: 665px;
                height: 247px;
            }
        }
        .etc {
            text-align: center;
            margin: 20px 0 32px;
        }
        .button-area {
            .button:first-child {
                width: 216px;
            }
        }
    }
}

/* step3-flow */
.step3-flow {
    //문자메시지 재발송
    .resend-message {
        width: 100%;
        height: 100%;
        padding-top: 133px;
        .main-text {
            position: relative;
            margin-bottom: 67px;
            padding-bottom: 35px;
            &::after {
                @include vs;
                top: unset;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 54px;
                height: 2px;
                background-color: rgba($color-white, 0.3);
            }
        }
        .contents {
            @include flex-items-center;
            flex-direction: column;
            justify-content: center;
        }
        .title-text {
            text-align: center;
            margin-bottom: 27px;
        }
        .input-text {
            margin-bottom: 144px;
        }
    }
}